@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(19, 59, 71);
    opacity: 0.9;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.cinema_container {
    margin: 1rem 1rem;
}

.cinema_container select:hover {
    background-color: rgb(54, 45, 27);
    color: thistle;
}

.cinema_container select {
    background-color: white;
    color: rgb(7, 54, 54);
    border: 0;
    border-radius: 0.3rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    padding: 0.3rem 1rem;
    appearance: none;
    cursor: pointer;
    transition : background-color, color 0.5s ease-in-out;
}

.display {
    background: rgba(0, 0, 0, 0.1);
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    color: rgb(131, 129, 129);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.display ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.display li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.6rem;
}

.display li small {
    margin-left: 0.1rem;
}

.seat {
    background-color: rgb(42, 39, 56);
    height: 1rem;
    width: 1.4rem;
    margin: 0.4rem;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
}

.seat.selected {
    background-color: cadetblue;
}

.seat.occupied {
    background-color: cornsilk;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    background-color: #fff;
    height: 70px;
    min-width: 250px;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.buyBtn:hover {
    background-color: rgb(54, 45, 27);
    color: thistle;
}

.buyBtn {
    cursor: pointer;
    background-color: beige;
    color: rgb(7, 54, 54);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.3rem;
    margin: 0.3rem 0.2rem;
    border: 0;
    border-radius: 0.2rem;
    transition: background-color, color 0.5s ease-in-out;
}



